# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [5]:
chipo =  pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', index_col='order_id')
chipo.head()

,quantity,item_name,choice_description,item_price
order_id,,,,
1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,Izze,[Clementine],$3.39
1,1,Nantucket Nectar,[Apple],$3.39
1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. How many products cost more than $10.00?

In [12]:
c = chipo['item_price'] > "$10.00"
c.sum()

4035

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [15]:
chipo[['item_name', 'item_price']]

                                      item_name item_price
order_id
1                  Chips and Fresh Tomato Salsa     $2.39
1                                          Izze     $3.39
1                              Nantucket Nectar     $3.39
1         Chips and Tomatillo-Green Chili Salsa     $2.39
2                                  Chicken Bowl    $16.98
...                                         ...        ...
1833                              Steak Burrito    $11.75
1833                              Steak Burrito    $11.75
1834                         Chicken Salad Bowl    $11.25
1834                         Chicken Salad Bowl     $8.75
1834                         Chicken Salad Bowl     $8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [21]:
chipo.sort_values(by='item_name', ascending=False).head()

,quantity,item_name,choice_description,item_price
order_id,,,,
1559,2,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$16.98
1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.49
304,1,Veggie Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25
567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49
948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75

### Step 7. What was the quantity of the most expensive item ordered?

In [45]:
chipo['item_price'].str.split('$')

order_id
1        [, 2.39 ]
1        [, 3.39 ]
1        [, 3.39 ]
1        [, 2.39 ]
2       [, 16.98 ]
           ...
1833    [, 11.75 ]
1833    [, 11.75 ]
1834    [, 11.25 ]
1834     [, 8.75 ]
1834     [, 8.75 ]
Name: item_price, Length: 4622, dtype: object

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [47]:
chipo.loc[chipo['item_name'] == 'Veggie Bowl'].sum()

quantity                                                             87
item_name             Veggie BowlVeggie BowlVeggie BowlVeggie BowlVe...
choice_description    [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...
item_price            $11.25 $8.49 $11.25 $11.25 $8.49 $11.25 $11.25...
dtype: object

### Step 9. How many times did someone order more than one Canned Soda?

In [51]:
chipo.loc[chipo['item_name'] == 'canned soda']

Empty DataFrame
Columns: [quantity, item_name, choice_description, item_price]
Index: []

In [49]:
chipo.head()

,quantity,item_name,choice_description,item_price
order_id,,,,
1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,Izze,[Clementine],$3.39
1,1,Nantucket Nectar,[Apple],$3.39
1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98