# Ex - GroupBy

### Introduction:

GroupBy can be summarized as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [3]:
drinks = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv')
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

### Step 4. Which continent drinks more beer on average?

In [18]:
drinks['beer_servings'].groupby(drinks['continent']).mean()

Beer_mean = pd.DataFrame({'Mean of Beer Servings':drinks['beer_servings'].groupby(drinks['continent']).mean()})
Beer_mean

           Mean of Beer Servings
continent
AF                     61.471698
AS                     37.045455
EU                    193.777778
OC                     89.687500
SA                    175.083333

### Step 5. For each continent print the statistics for wine consumption.

In [22]:
drinks['wine_servings'].groupby(drinks['continent']).mean()
Wine_mean = pd.DataFrame({'Mean of Wine Servings': drinks['wine_servings'].groupby(drinks['continent']).mean()})
Wine_mean

           Mean of Wine Servings
continent
AF                     16.264151
AS                      9.068182
EU                    142.222222
OC                     35.625000
SA                     62.416667

### Step 6. Print the mean alcohol consumption per continent for every column

In [27]:
drinks['total_litres_of_pure_alcohol'].groupby(drinks['continent']).mean()
Al_mean = pd.DataFrame({'Mean of Alcholol Consumption': drinks['total_litres_of_pure_alcohol'].groupby(drinks['continent']).mean()})
Al_mean

           Mean of Alcholol Consumption
continent
AF                             3.007547
AS                             2.170455
EU                             8.617778
OC                             3.381250
SA                             6.308333

### Step 7. Print the median alcohol consumption per continent for every column

In [35]:
drinks['Alcohol Consumption'] = drinks['total_litres_of_pure_alcohol']
drinks.drop(['total_litres_of_pure_alcohol', 'Alcohol Consumptio'], axis=1, inplace=True)
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,continent,Alcohol Consumption
0,Afghanistan,0,0,0,AS,0.0
1,Albania,89,132,54,EU,4.9
2,Algeria,25,0,14,AF,0.7
3,Andorra,245,138,312,EU,12.4
4,Angola,217,57,45,AF,5.9

In [39]:
drinks['Alcohol Consumption'].groupby(drinks['continent']).median()
Al_median = pd.DataFrame({'Median of Alcholol Consumption': drinks['Alcohol Consumption'].groupby(drinks['continent']).median()})
Al_median

           Median of Alcholol Consumption
continent
AF                                   2.30
AS                                   1.20
EU                                  10.00
OC                                   1.75
SA                                   6.85

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [41]:
Sp_describe = pd.DataFrame({'Mean of Spirit Consumption': drinks['spirit_servings'].groupby(drinks['continent']).mean()
                            , 'Min Value': drinks['spirit_servings'].groupby(drinks['continent']).min(),
                            'Max Value': drinks['spirit_servings'].groupby(drinks['continent']).max(),})
Sp_describe

           Mean of Spirit Consumption  Min Value  Max Value
continent
AF                          16.339623          0        152
AS                          60.840909          0        326
EU                         132.555556          0        373
OC                          58.437500          0        254
SA                         114.750000         25        302